services:
  runner:
    image: ghcr.io/cfc-servers/gluatest/$GMOD_BRANCH:latest
    build: .
    container_name: gluatest_runner
    stop_grace_period: 2s
    volumes:
      - type: bind
        source: $REQUIREMENTS
        target: /home/steam/gmodserver/custom_requirements.txt
        read_only: true

      - type: bind
        source: $CUSTOM_SERVER_CONFIG
        target: /home/steam/gmodserver/custom_server.cfg
        read_only: true

      - type: bind
        source: $PROJECT_DIR
        target: /home/steam/garrysmod_override
        read_only: true

      - type: bind
        source: $GMOD_ARTIFACT_DIR
        target: /home/steam/_gluatest_artifacts
        read_only: true

    environment:
      - GAMEMODE=$GAMEMODE
      - COLLECTION_ID=$COLLECTION_ID
      - SSH_PRIVATE_KEY=$SSH_PRIVATE_KEY
      - GITHUB_TOKEN=$GITHUB_TOKEN
      - TIMEOUT=$TIMEOUT
      - GAMEMODE=$GAMEMODE
      - MAP=$MAP
      - EXTRA_STARTUP_ARGS=$EXTRA_STARTUP_ARGS
      - GMOD_BRANCH=$GMOD_BRANCH
